/*Basic settings*/

:root {
    --card-width: 25rem;
    --color1: #F4F5F6;
    --color2: #143642;
    --color3: #0F8B8D;
    --color4: #EC9A29;
    font-weight: 200;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}

a{
    color: black;
}

a:visited{
    color: inherit;
}

img{
    width: 100%;
    height: 100%;
}

/*Card design*/

.card {
    width: var(--card-width);
    height: auto;
    padding: 2rem;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: var(--color1);
    
    border: solid 0.25rem var(--color3);
    border-radius: 1.5rem;
    box-shadow: .25rem .5rem 2rem rgba(0, 0, 0, .1);
    transition: ease-in-out .3s;
}

.card > *{
    margin-top: .2rem;
}

/*Image section*/

.image-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    border-top: none;
    padding-top: 0;
}

.image-wrapper{
    display: flex;

    border-radius: 1.2rem;
    overflow: hidden;
}

.image-wrapper img {
    opacity: 90%;
}

.image-description{
    color: var(--color2);
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.image-description h3{
    color: var(--color3);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.image-description p {
    font-size: 1rem;
    font-weight: 200;
}

/*Card items*/

.card-item {
    background-color: var(--color3);
    color: var(--color1);
    font-size: 1rem;
    font-weight: 200;
    padding: .5rem;
}

.card-item h3 {
    font-weight: 400;
    font-size: 1.2rem;
}

.learn-more {
    color: var(--color4) !important; 
    padding-left: 1ch;
    transition: ease-in-out .3s;
}

.learn-more:hover{
    padding-left: 1.5ch;
    transition: ease-in-out .3s;
}

/*Card links*/

.card-links ul {
    display: flex;
    justify-content: space-between;

    margin-top: .5rem;
}
.card-links ul li {
    padding: .5rem;
    display: inline;
}
.card-links ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color4);
    transition: ease-in-out .3s;
}

.card-links ul li a::after {
    display: block;
    content: " ";
    background-color: var(--color4);
    height: .15rem;
    width: 50%;
    transition: ease-in-out .3s;
}

/*Card links animation*/

.card-links ul li a:hover::after{
    width: 100%;
    transition: ease-in-out .3s;
}
